body{
  font-family: 'Source Sans Pro';
}

img.logo{
  width:100%;
}


.shadow {
    -webkit-filter: drop-shadow( 1px 3px 3px rgba(0,0,0,1) );
            filter: drop-shadow( 1px 3px 3px rgba(0,0,0,1) ); /* Same syntax as box-shadow */
}

.jumbotron{
  background-color:#3ca8ff;
  color: white;
}

.jumbotron h1{
  margin:0;
  font-weight: bold;
}
.jumbotron h1 span{
  font-weight: 400 !important;
}
.jumbotron h2{
  margin:10px
}


.uppershadow{
  top: 0;
  height: 200px;
  left: 0;
  position: absolute;
  right: 0;
  background-color: rgba(0,0,0,0);
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 100%);
  background-image: linear-gradient(bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 100%);
}
.lowershadow{
  bottom: 0;
  height: 320px;
  left: 0;
  position: absolute;
  right: 0;
  background-color: rgba(0,0,0,0);
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 100%);
  background-image: linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 100%);
}


footer{
  margin: 30px;
  padding: 20px;
  border-top:1px dotted #f1f1f1;
}